.App {
  text-align: center;
  background-color: #002D3E;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7E97C5;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
}

.App-header-logo-img{
  width: 40px;
}

.App-header-name{
  color: #fff;
  width: 500px;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
